<footer>
Copyright © Flux Framework a Series of LF Projects, LLC<br>
For web site terms of use, trademark policy and other project policies please see <a href="https://lfprojects.org" target="_blank">https://lfprojects.org.</a>
&nbsp;&nbsp;| &nbsp;&nbsp;<a target="_blank" href="https://twitter.com/{{ site.twitter }}"><i style="color:black" class="fa-brands fa-twitter"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/flux-framework/flux-framework.github.io" target="_blank"><i style="color:black !important" class="fa-brands fa-github"></i></i></a>

