<style>
footer {
    margin: auto;
    padding-top:50px;
    margin-top: 100px;
    height: 200px;
    color: #036291 !important;
    background-color: #f7f7f7;
    color: #ffffff;
    text-align:center; //to align the text in center
}​
</style>
<footer>
The contents of this website are © {{ 'now' | date: "%Y" }} <a href="https://github.com/flux-framework">Flux Framework Community</a> under the terms of the <a href="https://github.com/flux-framework/rfc/blob/master/spec_2.adoc">LGPL License</a>.
&nbsp;&nbsp;| &nbsp;&nbsp;<a target="_blank" href="https://twitter.com/{{ site.twitter }}"><i style="color:black" class="fa-brands fa-twitter"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/flux-framework/flux-framework.github.io" target="_blank"><i style="color:black !important" class="fa-brands fa-github"></i></i></a>

