<footer>
The contents of this website are © {{ 'now' | date: "%Y" }} <a href="https://github.com/flux-framework">Flux Framework Community</a> under the terms of the <a href="https://github.com/flux-framework/rfc/blob/master/spec_2.adoc">LGPL License</a>.
&nbsp;&nbsp;| &nbsp;&nbsp;<a target="_blank" href="https://twitter.com/{{ site.twitter }}"><i style="color:black" class="fa-brands fa-twitter"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/flux-framework/flux-framework.github.io" target="_blank"><i style="color:black !important" class="fa-brands fa-github"></i></i></a>

