  
<section class="page-header">
    <img src="{{site.image}}"></img>
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>
    <a class="btn" href="https://github.com/flux-framework"><i class="fa fa-github"></i> GitHub</a>
    <a class="btn" href="https://flux-framework.readthedocs.io/"><i class="fa fa-pen-fancy"></i> Documentation</a>
    <a class="btn" href="/publications/" class="btn"><i class="fa fa-book"></i>Publications</a>
    <a class="btn" href="/releases/" class="btn"><i class="fa fa-code-branch"></i>Release Notes</a>
    <a class="btn" href="hhttps://flux-framework.readthedocs.io/en/latest/contributing.html"><i class="fa fa-plus"></i> Contribute</a>
 </section>