---
---

$theme_color: #67bac9 !default;
$header-bg-color: #67bac9 !default;
$header-bg-color-secondary: #26626d;
$section-headings-color: #122e33;
$header-heading-color: #ffffff;

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
    .page-header {
        padding:2rem 4rem
    }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding:2rem 3rem
    }
}
@media screen and (max-width: 42em) {
    .page-header {
    padding:2rem 1rem
    }
}
