<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}

    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#67bac9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <header>
        <section class="page-header">
          <img src="/assets/images/Flux-logo.svg" alt="Flux logo" height="92" width="200"></img>
          <h1 class="project-name">{{ site.title }}</h1>
          <h2 class="project-tagline">{{ site.tagline }}</h2>
            <a href="/" class="btn"><i class='fa fa-home'></i> Home</a>
            <a href="https://github.com/flux-framework" class="btn" target="_blank"><i class="fa fa-github"></i> GitHub</a>
            <a href="https://flux-framework.readthedocs.io/" class="btn" target="_blank"><i class="fa fa-file-text"></i> Docs</a>
            <a href="/publications/" class="btn"><i class="fa fa-book"></i> Publications</a>
            <a href="/releases/" class="btn"><i class="fa fa-code-fork"></i> Releases</a>
            <a href="https://flux-framework.readthedocs.io/en/latest/contributing.html" class="btn" target="_blank"><i class="fa fa-plus"></i> Contribute</a>
            <a href="mailto:flux-discuss@lists.llnl.gov" class="btn"><i class="fa fa-envelope-o"></i> Contact</a>
        </section>
    </header>

    <main id="content" class="main-content" role="main">

      {% if page.title %}
      <h1>{{ page.title }}</h1>
      {% endif %}

      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">The contents of this website are ©2020 <a href="http://github.com/flux-framework">Flux Framework Community</a> under the terms of the <a href="https://github.com/flux-framework/rfc/blob/master/spec_2.adoc">GPL License</a>.</span>
      </footer>
    </main>
  </body>
</html>